@font-face {
  font-family: 'F1';
  src: local('F1'), url('./fonts//Formula1-Bold_web_0.ttf') format('truetype');
}

* {
  font-family: 'F1';
}



.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 15px;
  margin: 10px;
}

.item {
  min-height: 300px;
  background-color: #f5c096;
}

.grid-container {
  display: flex;
  justify-content: center;
  background-color: #669288;
  width: 95%;
  margin: 0 auto;
}
